<div class="container-fluid">
  <nav class="navbar" *ngIf="isMeanuRequire">
    <ul>
      <li class="logo">Dashboard</li>
      <li><a routerLink="">Home</a></li>
      <li *ngIf="isAdmin"><a routerLink="user">User</a></li>
      <li><a routerLink="customer">Customer</a></li>
      <li><a routerLink="product">Product</a></li>
    </ul>
    <button class="btn btn-outline-dark" type="submit" routerLink="/login">Logout</button>
  </nav>
</div>

<div class="container mt-5">
  <router-outlet></router-outlet>
</div>
s
